.forms {
    display: flex;
    flex-direction: column;

    max-width: 1236px;
}

.sectionTitle {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: var(--text-color);

    margin-bottom: 26px;
}

.infoForm {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(297px, 1fr));

    gap: 16px;

    margin-bottom: 24px;
}

.title {
    display: flex;
    gap: 5px;

    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #1a202c;

    margin-bottom: 8px;
}

.required {
    color: red;
}

.area {
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 6px;
    width: 297px;
    height: 40px;
    background: #f9f5e3;

    padding: 0px 13px;
}

.error {
    border: 2px solid #ff5631;
}

.errorAlert {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #ff5631;
}

.inputArea {
    position: relative;
    width: 297px;
}

.select {
    border: 1px solid rgba(128, 128, 128, 0.2);
    border-radius: 6px;
    width: 297px;
    height: 40px;
    background: #f9f5e3;

    padding: 0px 13px;
}

.alert {
    position: absolute;

    right: 10px;
    top: 11px;
}
