.btnbox {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 50px;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 16px;

    font-weight: 400;
    font-size: 18px;
    line-height: 112%;
    text-align: center;
    color: #1a202c;
}
