.container {
    position: relative;
    padding: 10px;
    max-width: 1320px;
    margin: 0 auto;

    margin-bottom: 50px;
}

.sectionTitle {
    font-weight: 700;
    font-size: 30px;
    line-height: 147%;
    text-align: center;
    color: var(--text-color);

    margin-bottom: 32px;
    margin-top: 32px;
    text-align: start;
}
