.item {
    border-radius: 28px;
    padding: 32px;
    width: 295px;
    height: 570px;

    box-shadow:
        0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 0 8px 0 rgba(0, 0, 0, 0.08);
    background: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: scale 0.1s ease-in;
}

.item:hover {
    scale: 1.05;
    border: 2px solid #003cff;
}

.image {
    margin-bottom: 32px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;

    margin-bottom: 90px;
}

.descriptionItem {
    display: flex;
    align-items: center;
    gap: 8px;
}
