.item {
    border-radius: 28px;
    padding: 32px;
    width: 295px;
    height: 570px;

    box-shadow:
        0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 0 8px 0 rgba(0, 0, 0, 0.08);
    background: var(--white);

    display: flex;
    flex-direction: column;
    align-items: center;

    transition: scale 0.1s ease-in;
}

.item:hover {
    scale: 1.05;
    border: 2px solid #003cff;
}

.image {
    margin-bottom: 32px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;

    margin-bottom: 90px;
}

.descriptionItem {
    display: flex;
    align-items: center;
    gap: 8px;
}

.selectBtn {
    border-radius: 8px;
    padding: 8px;
    width: 148px;
    height: 48px;
    background: #003cff;

    font-weight: 700;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}
