.news-navigation {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.button__image {
    user-select: none;
}

.navigation-button {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--primary-blue);
    border-radius: 50px;
    padding: 8px;
    width: 64px;
    height: 64px;

    background: var(--white);
}

.navigation-button--active {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--primary-blue);
    border-radius: 50px;
    padding: 8px;
    width: 64px;
    height: 64px;

    background: var(--primary-blue);
}
