.container {
    position: relative;
    padding: 10px;
    max-width: 1320px;
    margin: 0 auto;

    margin-top: 100px;
}

.continuation {
    padding: 32px;
    border-radius: 28px;
    box-shadow:
        0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 0 8px 0 rgba(0, 0, 0, 0.08);
    background: #fff;

    margin-bottom: 96px;
}

.heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 20px;
    column-gap: 80px;

    margin-bottom: 41px;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 100%;
    color: var(--text-color);
}

.step {
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: var(--text-color);
}
