.buttons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.rBtn {
    display: flex;
    gap: 40px;
    align-items: center;
}

.check {
    display: flex;
    gap: 14px;
    align-items: center;
}
