.topInputs {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 16px;

    margin-bottom: 32px;
}

.topInputs > div {
    flex-grow: 1;
    width: 401px;
}

.bottomInputs {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 16px;

    margin-bottom: 32px;
}

.bottomInputs > div {
    flex-grow: 1;
    width: 401px;
}

.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: var(--text-color);

    margin-bottom: 32px;
}
