.container {
    position: relative;
    padding: 10px;
    max-width: 1320px;
    margin: 0 auto;

    margin-top: 100px;
    margin-bottom: 97px;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 112%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--primary-dark);

    margin-bottom: 32px;
}
